<%= form_for @question do |f| %>
  <%= f.label :statement %>
  <%= f.text_field :statement, placeholder: "Truthy/non-truthy statement ... ", autofocus: true %>
  </br>

  <div class="radio-btn" data-toggle="buttons-radio">
    <%= f.radio_button :true_or_false, 1 %>
    <%= f.label :true_or_false_1, 'I believe it\'s True' %>
  </div>
  <div class="radio-btn" data-toggle="buttons-radio">
    <%= f.radio_button :true_or_false, 0 %>
    <%= f.label :true_or_false_0, 'I believe it\'s False' %>
  </div></br>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>