<%= form_for @question do |f| %>
  <%= f.label :statement %>
  <%= f.text_field :statement, placeholder: "Truthy/non-truthy statement ... ", autofocus: true %>
  </br>

  <div class="radio-btn" data-toggle="buttons-radio">
    <%= f.radio_button :true_or_false, true %><%= f.label :true_or_false, 'Fact' %>

    <%= f.radio_button :true_or_false, false %> <%= f.label :true_or_false, 'Fiction' %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary", id: "btn-add-question" %>
<% end %>