<%= form_for @question do |f| %>
  <% f.label :statement %>
  <%= f.text_field :statement, placeholder: "Your London Fact or Fiction ", autofocus: true %>
  </br>
  <div class="radio-input">
    <%= f.radio_button :fact_or_fiction, true, class: "fact-fiction-radio-btn"%><%= f.label :fact_or_fiction, 'Fact', class: "fact-fiction-radio-btn-label" %>
    <%= f.radio_button :fact_or_fiction, false, class: "fact-fiction-radio-btn" %> <%= f.label :fact_or_fiction, 'Fiction', class: "fact-fiction-radio-btn-label" %><br>
  </div>
    <%= f.submit "Save", class: "btn btn-primary", id: "btn-add-question" %>
<% end %>