  <%= form_for @response do |f| %>

    <h3 class='statement'><%= @question.statement.humanize %></h3>
      <%= f.hidden_field :question_id, value: @question.id %>

    <div class="radio-btn" data-toggle="buttons-radio">
      <%= f.submit value: "Fact", id: "fact", class: "btn-large btn-response" %>
      <%= f.submit value: "Fiction", id: "fiction", class: "btn-large btn-response" %>
    </div>                      
  <% end %>