  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <% if current_user %>
          <%= hidden_field_tag "user-id", current_user.id %>
        <% end %>
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "London Fact or Fiction", root_path, class: "brand" %>
        <div class="container nav-collapse">
          <ul class="nav">
            <li><%= link_to raw('<i class="icon-play"></i> Play'), new_response_path, id: "start_new_game" %></li>
            <li><%= link_to raw('<i class="icon-plus"></i>Add a Question'), new_question_path, id: "add_fact_or_fiction" %></li>
          </ul>
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to raw("<i class='icon-facebook-sign'></i> #{current_user.name}"), signout_path %></li>
              <li><%= link_to "Sign out", signout_path %></li>
            <% else %>
              <li><%= link_to "Sign in: ", '#' %></li>
              <li><%= link_to raw('<i class="icon-facebook-sign icon-2x"></i>'), "/auth/facebook", id: "fb_sign_in" %></li>
              <li><%#= link_to image_tag('twitter_32.png'), "/auth/twitter" %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>